
@{
    ViewBag.Title = "Field";
}

 
<div id="app">
    <mt-header fixed title="Field">
        <a href="@Url.Action("Index","Home")" slot="left">
            <mt-button icon="back">返回</mt-button>
        </a>
    </mt-header>
     <div style="margin-top:44px">
         <h4>Basic usage</h4>
         <h4>{{password}}</h4>
         <mt-field label="username" placeholder="Input username" v-model="username"></mt-field>
         <mt-field label="email" placeholder="Input email" type="email" v-model="email"></mt-field>
         <mt-field label="password" placeholder="Input password" type="password" v-modal="password"></mt-field>
         <mt-field label="phone" placeholder="Input tel" type="tel" v-model="phone"></mt-field>
         <mt-field label="website" placeholder="Input website" type="url" v-model="website"></mt-field>
         <mt-field label="number" placeholder="Input number" type="number" v-model="number"></mt-field>
         <mt-field label="birthday" placeholder="Input birthday" type="date" v-model="birthday"></mt-field>
         <mt-field label="introduction" placeholder="introduction" type="textarea" rows="4" v-model="introduction"></mt-field>
         <h4>Configure validation results</h4>
         <mt-field label="email" :state="email" v-model="email"></mt-field>
         <mt-field label="email" state="error" v-model="email"></mt-field>
         <mt-field label="email" state="warning" v-model="email"></mt-field>

         <mt-field label="captcha" v-model="captcha">
             <img src="../assets/100x100.png" height="45px" width="100px">
         </mt-field>
     </div>
</div>


</div>
@section scripts{
    <script>

        new Vue({
            el: '#app',
            data: {
                username: "",
                email: "",
                password: "",
                phone: "",
                website: "",
                number: "",
                birthday: "",
                introduction: "",
                captcha:""
            }
        })
    </script>
}



















