
@{
    ViewBag.Title = "LazyLoad";
}

 
<div id="app">
    <mt-header fixed title="LazyLoad">
        <a href="@Url.Action("Index","Home")" slot="left">
            <mt-button icon="back">返回</mt-button>
        </a>
    </mt-header>
    <div style="margin-top:44px">
        <ul >
            <li v-for="item in list">
                <img v-lazy="item" style="width: 100%;height:auto;">
            </li>
        </ul>
    </div>

</div>
@section css{
    <style type="text/css">
        image[lazy=loading] {
            width: 40px;
            height: 300px;
            margin: auto;
        }
    </style>
    }
@section scripts{
    <script>

        new Vue({
            el: '#app',
            data:{
                list: [
                    "http://fuss10.elemecdn.com/b/18/0678e57cb1b226c04888e7f244c20jpeg.jpeg",
                    "http://fuss10.elemecdn.com/3/1e/42634e29812e6594c98a89e922c60jpeg.jpeg",
                    "http://fuss10.elemecdn.com/1/c5/95c37272d3e554317dcec1e17a9f5jpeg.jpeg",
                    "http://fuss10.elemecdn.com/7/85/e478e4b26af74f4539c79f31fde80jpeg.jpeg",
                    "http://fuss10.elemecdn.com/b/df/b630636b444346e38cef6c59f6457jpeg.jpeg",
                    "http://fuss10.elemecdn.com/7/a5/596ab03934612236f807b92906fd8jpeg.jpeg"
                    
                ]
            },
            methods: {
                handleClick1: function () {
                    this.$toast('Hello world!')
                } 
            }
        })
    </script>
}
